body {
    max-width: 60em;
    font-family: 'Verdana', sans-serif;
    background: linear-gradient(
        90deg,
        rgb(241, 209, 160) 10%,
        rgb(236, 241, 164) 20%,
        rgb(183, 238, 181) 30%,
        rgb(171, 240, 239) 40%,
        rgb(154, 224, 235) 50%,
        rgb(152, 195, 243) 60%,
        rgb(192, 166, 245) 70%,
        rgb(218, 158, 240) 80%,
        rgb(238, 162, 228) 90%
    );
}

.info-container {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.info-container h2,
.info-container p.info-text {
    margin-left: 20px;
    margin-right: 20px;
}
.button-link {
    display: inline-block;
    padding: 10px 10px;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #88b0da;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-link:hover {
    background-color: #b87cd4;
    color: #fff;
}