<link rel="stylesheet" href="/static/main.css">

<h1>Tervetuloa viihtymään!</h1>

{% if session.user_id %}
Kirjautuneena sisään käyttäjällä <b>{{ session.user_name }}</b> / <a href="/logout">Uloskirjautuminen</a>
<p>
<a href="/favourites">Näytä omat suosikit</a>
{% if session.user_role == 2 %}
<p>
    <a href="/add_band" class="button-link-add">Lisää bändi</a>
</p>
{% endif %}
{% else %}
<a href="/login" class="button-link">Kirjaudu sisään</a>
{% endif %}
<p>
<hr>
<p>

{% for band in bands %}
<h2>{{ band.name }}</h2>
<p>
    <a href="/band_info/{{ band.name }}" class="button-link2">Näytä info</a>
    <a href="/reviews/{{ band.name }}" class="button-link2">Arvostelut</a>
<p>
{% if session.user_id %}
<form action="/add_to_favourites" method="post">
<input type="hidden" name="band_name" value="{{ band.name }}">
<button type="submit">Lisää suosikkeihin</button>
</form>
{% endif %}
<hr>
{% endfor %}


