<h2>Tervetuloa viihtymään!</h2>

{% if session.user_id %}
Kirjautuneena sisään käyttäjällä <b>{{ session.user_name }}</b> / <a href="/logout">Uloskirjautuminen</a>
<p>
<a href="/favourites">Näytä omat suosikit</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<p>
<hr>
<p>

{% for band in bands %}
{{ band.name }} <br>
<p>
    <a href="/band_info/{{ band.name }}">Näytä info</a> /
    <a href="/reviews/{{ band.name }}">Arvostelut</a>
<p>
{% if session.user_id %}
<form action="/add_to_favourites" method="post">
<input type="hidden" name="band_name" value="{{ band.name }}">
<button type="submit">Lisää suosikkeihin</button>
</form>
{% endif %}
<hr>
{% endfor %}

{% if session.user_role == 2 %}
<p>
    <a href="/add_band">Lisää bändi</a>
</p>
{% endif %}
