<h2>Bändin {{ band_name }} arvostelut:</h2>
<hr>
<p>
{% for r in reviews %}
<b>{{ r[0] }}:</b> {{ r[1] }}
{% if session.user_role == 2 %}
<form action="/remove_review" method="post">
    <input type="hidden" name="comment" value="{{ r[1] }}">
    <input type="hidden" name="user_name" value="{{ r[0] }}">
    <button type="submit">Poista kommentti</button>
</form>
{% endif %}
<hr>
<p>
{% endfor %}
<p>
{% if session.user_id %}
<form action="" method="post">
Anna oma arvostelusi:<br>
<textarea name="comment" rows="3" cols="40"></textarea>
<input type="hidden" name="band_id" value="{{ band_id }}">
<p><input type="submit" value="Lähetä!">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<a href="/">Takaisin etusivulle</a>
